In [ ]:
# Given a list of integers shift all the zeroâ€™s to the end of the list?
# Ans: l = [1,0,3,0,4,6] output: l = [1,3,4,6,0,0]

In [5]:
l = [1,0,3,0,4,6]
l.sort()
print(l)

TypeError: 'asc' is an invalid keyword argument for sort()

In [20]:
l = [1,0,3,0,4,6]
a = []
for i in l:
    if i==0:
        a.append(i)
        l.remove(i)

b = []
max=-1
for i in l:
    if i>max:
        max=i
        b.append(i)
    
for i in a:
    b.append(i)

print(b)

[1, 3, 4, 6, 0, 0]

In [16]:
import pandas as pd
from pandas import DataFrame
df = DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [17]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [18]:
df['name'] = 'Pramodh'

In [19]:
df

   col1  col2 col3     name
0     1   444  abc  Pramodh
1     2   555  def  Pramodh
2     3   666  ghi  Pramodh
3     4   444  xyz  Pramodh