In [4]:
text =  "ThisIsASampleCode"
sentense = list()
for t in text:
    if t.isupper():
        sentense.append(" ")
    
    sentense.append(t.lower())  
sentense = "".join(sentense)
print(sentense)

 this is a sample code

In [9]:
import random


random.randrange(0, 50, 10)

40

:

In [7]:
import random

list = random.randrange(0, 50, 10)
max = 0
max_position = int(input("Enter max position you want to find:"))
if len(list) < max_position:
    print("Sorry not enough max length")
    exit()
# sort list
sorted_list = []
# for element in list:

# find max
sorted_list = list.sort()
for i in range(0,3):
    for x in sorted_list:
        if x<max: max = x
        sorted_list.remove(max)

print(sorted_list[-1])

TypeError: object of type 'int' has no len()

In [5]:
a = [1, 3, 6, 9, 11]
max = 0
for x in range(0,3):
    for x in a:
        if x > max:
            max = x
            a.remove(x)
print(max)

11

In [52]:
import pandas as pd

# Create a DataFrame with sample data
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Science'],
    'Section': ['S1', 'S2', 'S1', 'S2', 'S1'],
    'Marks': [85, 90, 78, 92, 88],
    'Attendance': [90, 85, 88, 92, 90]
}

df = pd.DataFrame(data)

In [60]:
df[df['Marks'] == df['Marks'].max()]

  Student  Subject Section  Marks  Attendance
3   David  Science      S2     92          92

In [61]:
df['Marks'].sum()

433

In [63]:
df.groupby('Subject').agg({'Marks': 'sum'    })

         Marks
Subject
Math       163
Science    270